body {
  background: $background-color;
  background-repeat: no-repeat;
  color: $font-color;
  // overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}
.active__navigation {
  color: $react-color;
}

@mixin boxes($width, $height,$animation, $border, $top, $right, $bottom, $left) {
  width: $width;
  height: $height;
  position: absolute;
  animation-name: $animation;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  border: 4px solid $border;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: scale(20);
}

.paragraph {
  font-size: $large-font-size;
  // font-weight: $regular-weight;
  text-align: justify;
  line-height: 25px;
  margin: 1rem 0;

  // letter-spacing: 1px;
}
.animation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  
  .box1 {
    @include boxes(50%,80rem , box_1, $react-color, 10%, 15%, 30%, 15%);
    // transform: scale(5);
  }
  .box2 {
    @include boxes(50%,80rem , box_2, $html-color, 35%, 10%, 5%, 20%)
  }
  .box3 {
    transform: scale(5);
    @include boxes(20%,50rem , box_3, $js-color, 20%, 5%, 50%, 5%)
  }
}

@keyframes box_1 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: translateY(30%);
  }
}
@keyframes box_2 {
  0% {
    transform: translateX(15%) rotate(45deg) translateY(50%);
  }

  100% {
    transform: translateY(30%);
  }
}

@keyframes box_3 {
  0% {
    transform: translateX(15%) rotate(45deg) translateY(50%);
  }

  100% {
    transform: translateY(30%);
  }
}