.header {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: $secondary-color;
  border-bottom: 1px solid $gray-color;
  z-index: 1;
  .c9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
}

.title {
  color: $overlay-color;
}