@mixin icons($color) {
  font-size: $extra-large-font-size;
  color: $color;
}

@mixin slider-controls {
  font-size: $jumbo-font-size;
  color: $font-color-active;
  opacity: 0.4;
}

.menu--icon {
  @include icons($font-color-active)
}

.close--icon {
  @include icons($font-color-active);
  z-index: 2;
}
.folder--icon {
  @include icons($font-color);
  transition: ease .3s;
}

.folder--icon:active {
  transform: scale(1.2)
}
.link--icon {
  @include icons($font-color);
}
.live--icon {
  @include icons($font-color);
}
.github--icon {
  @include icons($font-color-active);
}
.react--icon {
  @include icons($react-color);
}
.sass--icon {
  @include icons($sass-color);
}
.html--icon {
  @include icons($html-color);
}

.js--icon {
  @include icons($js-color);
}

.left--icon {
  @include slider-controls();
}

.right--icon {
  @include slider-controls();
}

.lg--icon {
  font-size: $regular-icon;
}
.jb--icon {
  font-size: $large-icon;
}