@mixin main-section($area, $color) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: $area;
  position: relative;
  // border: 2px solid $border-color;
  text-align: center;
  transition: .3s ease;
  color: $font-color;
  box-shadow: $box-shadow;
  border-radius:10px;
}

@mixin section-area($section) {
  box-shadow: $box-shadow;
  grid-area: $section;
  background-color: $background-color;
  position: relative;
  align-items: center;
  &:hover > .section__background {
    
    filter: grayscale(0) blur(0);
  }
  a {

    width: 50%;
    // height: 15rem;
    z-index: 2;
    .titles {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin: 1rem 0;
      font-size: $large-font-size;
      color: $font-color;
      height: 5rem;
      border-radius: .5rem;
    }

    
  }
  .section__background {
    position: absolute;
    width: 100%;
    height: 100%;
    // opacity: .8;
    z-index: 0;
    filter: grayscale(1) blur(1px);
    transition: .5s ease;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;

    }

    
  }
}
@mixin info-section($background) {
  background-color: $background;
  display: none;
  color: $font-color;
}

.hero__area {
  @include section-area(hero)
}

.projects__area {
  @include section-area(projects)
}
.about__area {
  @include section-area(about)
}
.skills__area {
  @include section-area(skills)
}
.hobbies__area {
  @include section-area(hobbies)
}
.contact__area {
  @include section-area(contact)
}

.main {
  display: grid;
  height: 93vh;
  grid-template-areas: 
  'hero hero'
  'hero hero'
  'projects projects'
  'skills about'
  'skills contact'
  // 'contact hobbies'
  ;
  gap: 2rem;
  text-align: center;
  padding: 1rem;
}
.main__sections {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // background-color: $background-color;
  transition: .5s ease;
  color: $font-color;
  overflow: hidden;
  transition: .2s ease;
  cursor: pointer;
  &:active {
    transform: scale(.95);
    outline: 1px solid $react-color;
  }
  .i__am {
    // float: left;
    // justify-content: center;
    align-self: center;
    text-align: start;
    z-index: 2;
    h1 {
      font-size: $jumbo-font-size;
      color: $font-color-active;
      margin-bottom: 1rem;
    }
    h2 {
      display: flex;
      align-items: center;
      font-size: $extra-large-font-size;
      color: $font-color-active;
      margin-bottom: 1rem;
      // text-align: end;
      span {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        color: $react-color;

        .icon {
          margin-left: 1rem;
        }
      }
      // color: $about-me-color;
    }
    p {
      font-size: $large-font-size;
      color: $font-color-active;
      margin-bottom: 1rem;
    }
  }
}

.section__background {

}




.info__section {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: $projects-color;
  height: 5rem;
}

.info__list {
  display: flex;
  .info--item {
    // font-area: $large-font-area;
    margin-right: 1rem;
    font-weight: $light-weight;
  }
  // justify-content: space-between;
}

.more {
  margin-right: 1rem;
}