@mixin main-section($area, $color) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: $area;
  position: relative;
  // border: 2px solid $border-color;
  text-align: center;
  transition: .3s ease;
  color: $font-color;
  box-shadow: $box-shadow;
  border-radius:10px;
}

@mixin section-area($section) {
  box-shadow: $box-shadow;
  grid-area: $section;
  background-color: $background-color;
}

@mixin info-section($background) {
  background-color: $background;
  display: none;
  color: $font-color;
}

.hero__area {
  @include section-area(hero)
}

.projects__area {
  @include section-area(projects)
}
.about__area {
  @include section-area(about)
}
.skills__area {
  @include section-area(skills)
}
.hobbies__area {
  @include section-area(hobbies)
}
.contact__area {
  @include section-area(contact)
}

.main {
  display: grid;
  height: 100vh;
  grid-template-areas: 
  'hero hero'
  'hero hero'
  'projects projects'
  'about skills'
  'about hobbies'
  'contact hobbies'
  ;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.main__sections {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $background-color;
  transition: .5s ease;
  color: $font-color;
}

.main__sections:hover {
  // border: 1px solid $border-color;
}

.main__sections:active {
  // box-shadow: $box-shadow-active;
  // transform: scale(1.05);
}

.titles {
  margin: 1rem 0;
  font-size: $large-font-size;
  color: $font-color;
}

.info__section {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: $projects-color;
  height: 5rem;
}

.info__list {
  display: flex;
  .info--item {
    // font-area: $large-font-area;
    margin-right: 1rem;
    font-weight: $light-weight;
  }
  // justify-content: space-between;
}

.more {
  margin-right: 1rem;
}