@mixin modal-mixin($width, $height, $position) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  position: $position;
  right: 0;
  // background-color: $background-color-active;
  box-shadow: $box-shadow;
}


@mixin modal-responsive {
    width: 90%;
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    // background-color: $backgorund-color;
    top: 50%;
    right: 50%;
    padding: 1rem;
    z-index: 1;
}



.modal {
  @include modal-mixin(100%, 100vh, fixed);
  overflow: scroll;
  top: 0;
  z-index: 1;
  // overflow-y: scroll;
  background-color: $background-modal;
  .close--icon {
    position: fixed;
    top: 3%;
    right: 6%;
    color: $font-color-active;
    z-index: 2;
  }
}
.layout {
  // display: none;
  @include modal-mixin(100%,100vh , fixed);
  top: 0;
  right: 0;
  // background-color: $background-color;
  opacity: 0.3;
  // filter: blur(1rem)
}

.navbar__modal {
  @include modal-mixin(70%, 100vh, absolute);
  background-color: $background-color-active;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // right: 0;
  // box-shadow: $box-shadow;
  // .close--icon {
    //   position: fixed;
    //   top: 2%;
    //   right: 5%
    // }
  }
  
  .navbar--item {
    text-transform: capitalize;
    text-align: end;
    font-size: $jumbo-font-size;
    margin-bottom: 2rem;
    color: $font-color-active;
    transition: .6s ease;
  }
  
  .navbar--item:hover {
    transform: translateX(-5%);
    font-weight: $heavy-weight;
    cursor: pointer;
  }
  
  .modal__project {
    @include modal-responsive();
    background-color: $background-color-active;
    border-radius: 8px;
    // overflow: hidden;
    
    .titles {
      color: $font-color-active;
    }
    
    .paragraph {
      color: $font-color-active;

    }
    
  }
  
  .modal__hobbies {
    @include modal-responsive();
    display: flex;
    justify-content: center;
    align-items: center;
  }