@mixin modal-mixin($width, $height, $position) {
  width: $width;
  height: $height;
  position: $position;
}
.modal {
  @include modal-mixin(100%, 100vh, fixed);
  top: 0;
  z-index: 1;
  .close--icon {
    position: fixed;
    top: 2%;
    right: 5%;
    color: $overlay-color;
    z-index: 1;
  }
}
.layout {
  // display: none;
  @include modal-mixin(100%,100vh , absolute);
  top: 0;
  right: 0;
  background-color: $overlay-color;
  opacity: 0.7;
  // filter: blur(1rem)
}

.navbar__modal {
  @include modal-mixin(70%, 100vh, absolute);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  background-color: $secondary-color;
  // .close--icon {
  //   position: fixed;
  //   top: 2%;
  //   right: 5%
  // }
}

.navbar--item {
  text-align: center;
  font-size: $jumbo-font-size;
  margin-bottom: 2rem;
  color: $overlay-color;
}