.portafolio {
  margin-top: 6rem;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  margin-top: 3rem;
  box-shadow: $box-shadow;
  transition: .4s ease-in;
}
.project__options {
  display: none;
  justify-content: space-between;
  width: 20%;
}
.project:hover .project__options {
  display: flex;
}

.project {
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 50%;
  background-color: $secondary-color;
  /* margin: 0 auto; */
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  text-align: center;
}
