$background-color: #fffffff3;
$background-color-active: #333333;
$background-modal: #222222ab;
$font-color: #363636fa;
$font-color-active: #f0f0f0;
$background-modal: #0000005b;

// $border-color: ;
$shadow-color: #33333347;


$projects-color: #FFC5C5;
$projects-color-active: #ff9595;
$about-me-color: #D0F7DF;
$about-me-color-active: #93eeb6;
$knowledge-color: #D0EAF7;
$knowledge-color-active: #8fd6fa;
$like-to-do-color: #D6D0F7;
$like-to-do-color-active: #ac9ff5;
$contact-color: #ffdfa3;
$contact-color-active: #ffcb6a;

$fade: linear-gradient(270deg, rgba(0,0,0,0.196516106442577) 36%, rgba(0,0,0,0.8687850140056023) 53%);
$html-color: #d84b24;
// $html-color-active: #D84B24;
$css-color: #2B6CAD;
// $css-color-active: #2B6CAD;
$js-color: #ffe047;
// $js-color-active: #CBB133;
$sass-color: #C26191;
// $sass-color-active: #C26191;
$npm-color: #C13534;
// $npm-color-active: #C13534;
$react-color: #58DAFB;
// $react-color-active: #58DAFB;
$github-color: #272727;
$redux-color: #764ABC;
$debbug-color: #3a92ff;

$other-color: #424242;
$hover-color: #757575;

$main-font: 'Alegreya Sans', sans-serif;
$small-font-size: 1.6rem;
$regular-font-size: 1.8rem;
$large-font-size: 2rem;
$extra-large-font-size: 2.2rem;
$jumbo-font-size: 3rem;
$extra-jumbo-font-size: 8rem;
$light-weight: 300;
$regular-weight: 400;
$heavy-weight: 500;

$box-shadow: 0 0 3px 3px $shadow-color;
// $box-shadow-active: 0 0 5px 5px $shadow-color-active;

$small-icon: 3rem;
$regular-icon: 5rem;
$large-icon: 7rem;