$gray-color: #A0A0A0;
$main-color: #313131;
$secondary-color: #29292969;
$overlay-color: #ececec;
$backgorund-color: #212121;
$second-background-color: #252525;
// $backgorund-color: #3b3b3b;
$shadow-color: #00000008;
$shadow-color-active: #2f2f2f;
$text-color: #ececec;
$border-color: #474646d3;
$btn-primary-color: #2d4049;

$projects-color: #FFC5C5;
$projects-color-active: #ff9595;
$about-me-color: #D0F7DF;
$about-me-color-active: #93eeb6;
$knowledge-color: #D0EAF7;
$knowledge-color-active: #8fd6fa;
$like-to-do-color: #D6D0F7;
$like-to-do-color-active: #ac9ff5;
$contact-color: #ffdfa3;
$contact-color-active: #ffcb6a;


$html-color: #d84b24b2;
$html-color-active: #D84B24;
$css-color: #2B6CADb2;
$css-color-active: #2B6CAD;
$js-color: #CBB133b2;
$js-color-active: #CBB133;
$sass-color: #C26191b2;
$sass-color-active: #C26191;
$npm-color: #C13534b2;
$npm-color-active: #C13534;
$react-color: #58DAFBb2;
$react-color-active: #58DAFB;
$github-color: #272727;

$other-color: #424242;

$main-font: 'Alegreya Sans', sans-serif;
$small-font-size: 1.6rem;
$regular-font-size: 1.8rem;
$large-font-size: 2rem;
$extra-large-font-size: 2.2rem;
$jumbo-font-size: 3rem;
$extra-jumbo-font-size: 8rem;
$light-weight: 300;
$regular-weight: 400;
$heavy-weight: 500;

$box-shadow: 0 0 5px 5px $shadow-color;
$box-shadow-active: 0 0 5px 5px $shadow-color-active;

$small-icon: 3rem;
$regular-icon: 5rem;
$large-icon: 7rem;