@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Alegreya Sans", sans-serif;
}

.menu--icon {
  font-size: 2.2rem;
  color: #ececec;
}

.close--icon {
  font-size: 2.2rem;
  color: #ececec;
}

.c10 {
  width: 100%;
  margin: 0 auto;
}

.c9 {
  width: 90%;
  margin: 0 auto;
}

.c8 {
  width: 80%;
  margin: 0 auto;
}

.c7 {
  width: 70%;
  margin: 0 auto;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.modal .close--icon {
  position: fixed;
  top: 2%;
  right: 5%;
  color: #ececec;
  z-index: 1;
}

.layout {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ececec;
  opacity: 0.7;
}

.navbar__modal {
  width: 70%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  background-color: #292929;
}

.navbar--item {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #ececec;
}

.header {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: #292929;
  border-bottom: 1px solid #A0A0A0;
  z-index: 1;
}

.header .c9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.title {
  color: #ececec;
}

.projects__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projects;
  position: relative;
  border: 2px solid #FFC5C5;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #292929;
}

.projects__section .info__section {
  background-color: #FFC5C5;
  display: none;
  color: #292929;
}

.projects__section:hover {
  background-color: #ff9595;
  color: #313131;
  color: #ececec;
}

.projects__section:hover .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: about;
  position: relative;
  border: 2px solid #D0F7DF;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #292929;
}

.about__section .info__section {
  background-color: #D0F7DF;
  display: none;
  color: #292929;
}

.about__section:hover {
  background-color: #93eeb6;
  color: #313131;
  color: #ececec;
}

.about__section:hover .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.knowledge__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: knowledge;
  position: relative;
  border: 2px solid #D0EAF7;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #292929;
}

.knowledge__section .info__section {
  background-color: #D0EAF7;
  display: none;
  color: #292929;
}

.knowledge__section:hover {
  background-color: #8fd6fa;
  color: #313131;
  color: #ececec;
}

.knowledge__section:hover .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.i__like__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: like;
  position: relative;
  border: 2px solid #D6D0F7;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #292929;
}

.i__like__section .info__section {
  background-color: #D6D0F7;
  display: none;
  color: #292929;
}

.i__like__section:hover {
  background-color: #ac9ff5;
  color: #313131;
  color: #ececec;
}

.i__like__section:hover .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  position: relative;
  border: 2px solid #ffdfa3;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #292929;
}

.contact__section .info__section {
  background-color: #ffdfa3;
  display: none;
  color: #292929;
}

.contact__section:hover {
  background-color: #ffcb6a;
  color: #313131;
  color: #ececec;
}

.contact__section:hover .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 90vh;
      grid-template-areas: 'projects projects' 'about knowledge' 'about like' 'contact like';
  gap: 1rem;
  margin-top: 6rem;
  text-align: center;
}

.titles {
  font-size: 3rem;
}

.info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #FFC5C5;
  height: 5rem;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__list .info--item {
  margin-right: 1rem;
  font-weight: 300;
}

.more {
  margin-right: 1rem;
}
/*# sourceMappingURL=styles.css.map */