@mixin circle-animation($pos_x, $pos_y, $delay ) {
  position: absolute;
  top: $pos_y;
  left: $pos_x;
  // left: calc(100% / 2);
  // transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border: 1px solid $background-color-active;
  border-radius: 50%;
  animation-name: pulse-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 15s;
  animation-delay: $delay;
  transform-origin: center;
  will-change: auto;
  opacity: 0;
}

@mixin circle-center($delay) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // left: calc(100% / 2);
  // transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid $background-color-active;
  border-radius: 50%;
  animation-name: pulse-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 15s;
  animation-delay: 7s;
  transform-origin: center;
  animation-delay: $delay;
  will-change: auto;
  opacity: 0;
  z-index: 3;
}

.pulse__animation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  filter: blur(.3rem)
  // overflow: hidden

  // overflow: hidden;
}

// .square {
//   position: absolute;
//   right: -50%;
//   top: 25%;
//   border: 1px solid $react-color;
//   width: 400px;
//   height: 400px;
//   transform: translateY(-25%) rotate(45deg) scale(3);

//   animation-name: square-pulse;
//   animation-iteration-count: infinite;
//   animation-duration: 5s;
//   animation-delay: 1s;
//   animation-timing-function: ease-in-out;
//   transform-origin: center;

// }

// @keyframes square-pulse {
//   0%{
//     transform: rotate(45deg) ;
//   }
//   50%{
//     transform: rotate(135deg) ;
//   }
//   100%{
//     transform: rotate(180deg) ;
//   }
// }


.circle {
  @include circle-animation(100%, 100%, 0)
}
.circle--2 {
  @include circle-animation(0, 0, 1s)
}
.circle--3 {
  @include circle-animation(20%, 40%, 1.5s)
}
.circle--4 {
  @include circle-animation(100%, 60%, 2s)
}
.circle--5 {
  @include circle-center(8s);
}
.circle--6 {
  @include circle-center(10s);
}
.circle--7 {
  @include circle-center(11s);
}


@keyframes pulse-animation {
  0% {
    // transform: scale(0.8) scaleY(0);
    opacity: 0;
  }
  50% {
    // transform: scaleY(1);
    opacity: .15;
  }
  100% {
    transform: scale(20);
    opacity: 0;
    // border-radius: 0;
    // background-color: $background-color-active;
  }
}